@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor1:#EDF7F0;
    --cor2:#376142;
    --cor3:#07DE40;
    --cor4:#06AD32;
    --cor5:#035E1B;
}

body {
    background-color:var(--cor1);
}   

header {
    background-image: linear-gradient(to right, rgb(35, 166, 35), white);
    text-align: center;
    padding: 10px;
}

header h1 {
    padding-bottom: 20px;
}
